.theme-toogle {
	background-color: #ffcc33;
	width: 40px;
	height: 20px;
	margin-right: 18px;
	border-radius: 13px;
	cursor: pointer;
  
  	@media (forced-colors: active) {
		border: 1px solid CanvasText; //L:b D:w
	}

	span {
		position: relative;
		display: block;
		width: 26px;
		height: 26px;
		top: -3px;
		margin-left: -4px;
		border-radius: 100%;
		background-color: $white;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8.74' height='8.74'%3E%3Cpath d='M8.74 4.87v-1H6.85c-.07-.32-.2-.63-.38-.89l1.35-1.35-.71-.71-1.35 1.35c-.26-.17-.56-.3-.88-.36V0h-1v1.92c-.32.06-.62.19-.88.36L1.63.93l-.71.71 1.35 1.35c-.18.27-.31.57-.38.89H0v1h1.89c.06.33.19.64.37.91L.93 7.12l.71.71 1.32-1.32c.27.18.58.32.92.38v1.86h1V6.89c.33-.07.64-.2.92-.38l1.32 1.32.71-.71L6.5 5.79c.18-.27.3-.58.37-.91h1.89Z' style='fill:%23fc3'/%3E%3C/svg%3E");
		background-position: center;
		background-size: 16px;
		background-repeat: no-repeat;
		box-shadow: 0 0 6px 0 rgba(0,0,0, .25);
		
		@media (forced-colors: active) {
			border: 1px solid CanvasText; //L:b D:w
		}
	}

	&:focus-visible {
		outline: 1px solid $black;
		outline-offset: 1px;
	}

	.dark & {
		background-color: rgba($color: white, $alpha: .3);

		span {
			margin-left: calc(100% - 23px);
			background-color: white;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath d='M6 0C2.5.9 0 4.1 0 7.9 0 12.4 3.6 16 8.1 16c3.8 0 6.9-2.5 7.9-6C9.9 11.7 4.3 6.1 6 0z' fill='%23333'/%3E%3C/svg%3E");
			background-position: center;
			background-size: 16px;
			background-repeat: no-repeat;
		
			@media (forced-colors: active) {
				background-color: CanvasText; //L:b D:w
			}
		}
	}
}